<% if task.errors.any? %>
 <ul>
  <% task.errors.full_messages.each do |message|%>
     <li><%= message %></li>
  <% end %>   
 </ul>
<% end %>

<%= form_for(task) do |f| %>

<%=f.label :title, "任務名稱"%>
<%=f.text_field :title %><br>

<%=f.label :description, "任務描述"%>
<%=f.text_area :description %><br>

<%=f.label :priority, "優先度"%>
<%=f.select :priority, Task.priorities.keys %><br>

<%=f.label :start_at, "起始日"%>
<%=f.date_field :start_at %><br>

<%=f.label :end_at, "截止日"%>
<%=f.date_field :end_at %><br>

<%= f.submit "送出" %>
<% end %>