<h1><%= t(:task_list)%></h1>

<%= link_to t(:create_task), new_task_path %>

<p>選擇排序方式</p>
<ul>
  <li><%= link_to t(:created_at), tasks_path(sort_by: "created_at") %></li>
  <li><%= link_to t(:end_at), tasks_path(sort_by: "end_at") %></li>
</ul>
<table>
  <thead>
    <tr>
      <th><%= t(:title) %></td>
      <th><%= t(:end_at) %></td>
      <th></td>
      <th></td>
      <th></td>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task|%>
      <tr>
        <td><%= link_to task.title, task_path(task) %></td>
        <td><%= task.end_at %></td>
        <td><%= link_to t(:edit), edit_task_path(task) %></td>
        <td><%= link_to t(:delete), task_path(task), method: "delete", data: {confirm: t(:confirm_delete)} %></td>
      </tr>
    <% end %>
  </tbody>
</table>