<h1><%= t(:task_list)%></h1>

<%= link_to t(:create_task), new_task_path %>

<table>
  <% @tasks.each do |task|%>
    <tr>
      <td>
        <%= link_to task.title, task_path(task) %>
        <%= link_to t(:edit), edit_task_path(task) %>
        <%= link_to t(:delete), task_path(task), method: "delete", data: {confirm: t(:confirm_delete)} %>
      </td>
    </tr>
  <% end %>
</table>