<h1><%= t(:title)%>：<%= @task.title %></h1>
<ul>
  <li><%= t(:description)%>：<%= @task.description %></li>
  <li><%= t(:priority)%>：<%= @task.priority %></li>
  <li><%= t(:start_at)%>：<%= @task.start_at %></li>
  <li><%= t(:end_at)%>：<%= @task.end_at %></li>
</ul>

<br>

<%= link_to t(:back_to_homepage), root_path %>